@import "./app/home/home.component.scss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100%; /* Ensure the content takes the full width within the maximum */
}

app-root {
  text-align: center;
}
